<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5>Enter Study Details:</h5>
    <button type="button" class="btn btn-link" (click)="toggleAllFields()">
      <i class="bi" [ngClass]="isAllExpanded ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
    </button>
  </div>
  <div class="card-body">
    <form [formGroup]="studyForm" (ngSubmit)="onSubmit()">
      <!-- Study ID -->
      <div class="form-group bordered-block">
        <label for="studyId" class="col-form-label fw-bold">Enter Study ID:</label>
        <input id="studyId" formControlName="studyId" class="form-control input-block" />
        <div *ngIf="studyForm.controls['studyId'].hasError('studyIdExists')" class="text-danger">
          Study ID already exists.
        </div>
      </div>

      <!-- Study Name -->
      <div class="form-group bordered-block">
        <label for="studyName" class="col-form-label fw-bold">Enter Study Name:</label>
        <input id="studyName" formControlName="studyName" class="form-control input-block" />
      </div>

      <!-- Validation Messages -->
      <div *ngIf="studyForm.errors?.['requiredOne'] && 
        (studyForm.controls['studyId'].touched || studyForm.controls['studyName'].touched)" class="text-danger">
        At least one of Study ID or Study Name is required.
      </div>

      <!-- Space between Study ID/Name and dynamic fields -->
      <br />
      <!-- Dynamic Fields Section -->
<div class="form-container">
  <div *ngFor="let field of fields" class="form-group bordered-block">
    <div class="d-flex align-items-center justify-content-between">
      <label class="col-form-label fw-bold">{{ field.label }}:</label>
      <button type="button" class="btn btn-link" (click)="toggleExpand(field.key)">
        <i class="bi" [ngClass]="isFieldExpanded[field.key] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
      </button>
    </div>

    <!-- Conditional Rendering: Show only comment box for specific field -->
    <div *ngIf="isFieldExpanded[field.key]">
        <!-- Status Dropdown for all other fields -->
        <div class="row mb-2">
          <div class="col">
            <label for="{{ field.key }}_toDate" class="col-form-label fw-bold">ETA To Date:</label>
            <input type="date" id="{{ field.key }}_toDate" [formControlName]="field.key + '_toDate'" class="form-control input-block" />
        
            <!-- Required Validation -->
            <div *ngIf="studyForm.get(field.key + '_toDate')?.hasError('required')" class="text-danger">
              To Date is required.
            </div>
          </div>
        
          <div class="col">
            <label for="{{ field.key }}_fromDate" class="col-form-label fw-bold">ETA From Date:</label>
            <input type="date" id="{{ field.key }}_fromDate" [formControlName]="field.key + '_fromDate'" class="form-control input-block" />
        
            <!-- Required Validation -->
            <div *ngIf="studyForm.get(field.key + '_fromDate')?.hasError('required')" class="text-danger">
              From Date is required.
            </div>
        
          
          </div>
            <!-- Date Range Validation -->
           
        </div>
        <!-- <div class="row">
          <div class="col">
            <div *ngIf="studyForm.get(field.key + '_fromDate')?.hasError('invalidDateRange') && studyForm.get(field.key + '_toDate')?.hasError('invalidDateRange')" class="text-danger">
              From Date cannot be later than To Date.
            </div>
          </div>
        </div> -->
        
        <div class="row">
          <div [ngClass]="field.key === 'requestNewData' ? 'col-12' : 'col'">
            <div class="field-container">
              <select [formControlName]="field.key + '_icdpUsers'" class="form-control input-block">
                <option value="" selected disabled hidden>Select User</option>
                <option *ngFor="let option of field.icdp_users" [value]="option.keyUser">
                  {{ option.keyUser }}
                </option>
              </select>
              <i class='bi bi-person-circle status-icon text-primary'></i>
            </div>
          </div>
          <div class="col">
            <div class="field-container" *ngIf="field.key !== 'requestNewData'"> 
              <select [formControlName]="field.key" class="form-control input-block"
              (change)="onStatusChange(field.key, $event)">
              <option *ngFor="let option of statusOptions" [value]="option.value">
                {{ option.label }}
              </option>
            </select>
            <i class="status-icon" [class]="statusIcons[field.key]"></i>
            </div>
          </div>
        </div>
      <!-- Comment Section (Always Visible) -->
      <div class="comment-section">
        <button type="button" class="btn btn-link" (click)="toggleComment(field.key)">
          <i class="bi" [ngClass]="commentExpanded[field.key] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
          Comments
        </button>

        <div class="textarea-container" *ngIf="commentExpanded[field.key]">
          <textarea placeholder="Add comment"
                    [formControlName]="field.key + '_comment'" 
                    class="form-control text-area-block">
          </textarea>
          <a href="https://docs.google.com/spreadsheets/d/1s_4mlWXCGhomzjT-2ZqMY-feRrSJLwRgDoW9-Xd6Asc/edit?gid=891423897#gid=891423897" 
          target="_blank" 
          class="info-icon-link">
         <i class="bi bi-info-circle text-info info-icon" title="For more information, click the icon"></i>
       </a>
        </div>
      </div>
    </div>
  </div>
</div>


      <!-- Submit Button -->
      <div class="form-actions">
        <button type="submit" [disabled]="isSubmitDisabled()" class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
